# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

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